
<!-- Header -->

<section class="hero is-primary">
    <div class="hero-head">
        <div class="container has-text-centered">
            <h1 class="title">
                Sandwich Board
            </h1>
        </div>
    </div>
</section>

<!-- Sandwich Board Table -->

<table class="table is-bordered is-fullwidth">
    <thead>
        <tr>
            <th>Cheap</th>
            <th>Good</th>
            <th>Gourmet</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="https://s3.envato.com/files/261091699/42855.jpg" width="150" height="150">
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                            Quantity
                                <input type="number" name="quantity" id="qty1" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=3.75 id="price1" readonly><br>
                             Subtotal: <label id=sub1></label>
                        </label>
                </form>
            </td>
            <td><img src="https://image.shutterstock.com/image-photo/sandwich-ham-cheese-tomatoes-lettuce-260nw-1027873330.jpg" width="150" height="150">
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                            Quantity
                                <input type="number" name="quantity" id="qty2" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=2.50 id="price2" readonly><br>
                             Subtotal: <label id=sub2></label>
                        </label>
                </form>
            </td>
            <td><img src="https://img3.stockfresh.com/files/k/karandaev/m/51/712927_stock-photo-long-sandwich.jpg" width="150" height="150">
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                            Quantity
                                <input type="number" name="quantity" id="qty3" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=3.75 id="price3" readonly><br>
                             Subtotal: <label id=sub3></label>
                        </label>
                </form>
            </td>
        </tr>
        <tr>
            <td><img src="https://media.istockphoto.com/photos/sliced-smoked-turkey-sandwich-picture-id157428069?k=6&m=157428069&s=612x612&w=0&h=rP5Y4YQc5TLrc0zUJBf28O2wQE62paRJoXz4DvEW-M8=" width="150" height="150">
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                            Quantity
                                <input type="number" name="quantity" id="qty4" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=3.75 id="price4" readonly><br>
                             Subtotal: <label id=sub4></label>
                        </label>
                </form>
            </td>
            <td><img src="https://media.istockphoto.com/photos/sliced-smoked-turkey-sandwich-picture-id157428069?k=6&m=157428069&s=612x612&w=0&h=rP5Y4YQc5TLrc0zUJBf28O2wQE62paRJoXz4DvEW-M8=" width="150" height="150">
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                            Quantity
                                <input type="number" name="quantity" id="qty5" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=3.75 id="price5" readonly><br>
                             Subtotal: <label id=sub5></label>
                        </label>
                </form>
            </td>
            <td><img src="https://media.istockphoto.com/photos/sliced-smoked-turkey-sandwich-picture-id157428069?k=6&m=157428069&s=612x612&w=0&h=rP5Y4YQc5TLrc0zUJBf28O2wQE62paRJoXz4DvEW-M8=" width="150" height="150">
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                            Quantity
                                <input type="number" name="quantity" id="qty6" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=3.75 id="price6" readonly><br>
                             Subtotal: <label id=sub6></label>
                        </label>
                </form>
            </td>
        </tr>
        <tr>
            <td><img src="https://media.istockphoto.com/photos/sliced-smoked-turkey-sandwich-picture-id157428069?k=6&m=157428069&s=612x612&w=0&h=rP5Y4YQc5TLrc0zUJBf28O2wQE62paRJoXz4DvEW-M8=" width="150" height="150">
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                            Quantity
                                <input type="number" name="quantity" id="qty7" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=3.75 id="price7" readonly><br>
                             Subtotal: <label id=sub7></label>
                        </label>
                </form>
            </td>
            <td><img src="https://media.istockphoto.com/photos/sliced-smoked-turkey-sandwich-picture-id157428069?k=6&m=157428069&s=612x612&w=0&h=rP5Y4YQc5TLrc0zUJBf28O2wQE62paRJoXz4DvEW-M8=" width="150" height="150">
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                            Quantity
                                <input type="number" name="quantity" id="qty8" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=3.75 id="price8" readonly><br>
                             Subtotal: <label id=sub8></label>
                        </label>
                </form>
            </td>
            <td><img src="https://media.istockphoto.com/photos/sliced-smoked-turkey-sandwich-picture-id157428069?k=6&m=157428069&s=612x612&w=0&h=rP5Y4YQc5TLrc0zUJBf28O2wQE62paRJoXz4DvEW-M8=" width="150" height="150">
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                            Quantity
                                <input type="number" name="quantity" id="qty9" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=3.75 id="price9" readonly><br>
                             Subtotal: <label id=sub9></label>
                        </label>
                </form>
            </td>
        </tr>
        <tr>
            <td><img src="https://media.istockphoto.com/photos/sliced-smoked-turkey-sandwich-picture-id157428069?k=6&m=157428069&s=612x612&w=0&h=rP5Y4YQc5TLrc0zUJBf28O2wQE62paRJoXz4DvEW-M8=" width="150" height="150">
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                                Quantity
                                <input type="number" name="quantity" id="qty10" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=3.75 id="price10" readonly><br>
                             Subtotal: <label id=sub10></label>
                        </label>
                </form>
            </td>
            <td><img src="https://media.istockphoto.com/photos/sliced-smoked-turkey-sandwich-picture-id157428069?k=6&m=157428069&s=612x612&w=0&h=rP5Y4YQc5TLrc0zUJBf28O2wQE62paRJoXz4DvEW-M8=" width="150" height="150">
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                                Quantity
                                <input type="number" name="quantity" id="qty11" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=3.75 id="price11" readonly><br>
                             Subtotal: <label id=sub11></label>
                        </label>
                </form>
            </td>

            <td><a>
            <div id="modal12" class="modal">
                <div class="modal-background"></div>>
                <div class="modal-card" id="sw12">
                    <header class="modal-card-head">
                        <p class="modal-card-head">Index Item 12 Description</p>
                        
                    </header>
                    <section class="modal-card-body">
                        Short Description
                    </section>
                    <footer class="modal-card-foot">
                        <button id="close12" class="button">Close</button>
                    </footer>
                </div>
            </div>
                <img id="swimg12" src="https://media.istockphoto.com/photos/sliced-smoked-turkey-sandwich-picture-id157428069?k=6&m=157428069&s=612x612&w=0&h=rP5Y4YQc5TLrc0zUJBf28O2wQE62paRJoXz4DvEW-M8=" width="150" height="150">
                
                <script type=text/javascript>
                for (var x = 1; x < 13; x++)
                    var img12 = document.getElementById("img" + x)
                    var modalcontent12 = document.getElementById("sw12")
                    img12.onclick = function(){
                        modal12.style.display = "block";
                        modalcontent12.src = this.src
                    }
                    var span = document.getElementsByClassName("button")[0];

                    span.onclick = function(){
                        modal12.style.display = "none";
                    }

                </script>
                <br><p>Short Description:</p><br>
                <form>
                        <label for="quantity">
                                Quantity
                                <input type="number" name="quantity" id="qty12" min="0" max="120" step="1" value=0 onclick="addnumber()"><br>
                             Price:$
                                <input type="text" maxlength="5" size="3" value=3.75 id="price12" readonly><br>
                             Subtotal: <label id=sub12></label>
                        </label>
                </form>
                
            </td>
        </tr>
    </tbody>
</table>
<div style="padding: 0px 15px 20px 15px">
    <label id="total_label">Your total is: </label>
    <label id="total">0</label>
</div>


<script type=text/javascript>
function addnumber() {

    var total = 0

    for (var x = 1; x < 13; x++) {
        var qty = parseFloat(document.getElementById("qty" + x).value);
        var price = parseFloat(document.getElementById("price" + x).value);

        var solution = (qty * price);
    
        document.getElementById("sub" + x).innerHTML = (solution.toFixed(2));

        var subtotals = parseFloat(document.getElementById("sub" + x).innerHTML);
        total = parseFloat(total + subtotals);

    }

    document.getElementById("total").innerHTML = (total.toFixed(2));

}

</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" integrity="sha256-ujE/ZUB6CMZmyJSgQjXGCF4sRRneOimQplBVLu8OU5w=" crossorigin="anonymous" />